.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid pink;
  margin-top: 15px;
}

.filterSelects {
  display: flex;
  border: 1px solid green;
}

.filterSelect > * {
  min-width: 150px;
}
