.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid pink;
  margin-top: 15px;
}

.filterSelects {
  display: flex;
  border: 1px solid green;
  margin-top: 15px;
}

.filterSelect > * {
  min-width: 150px;
}

/* enable absolute positioning */
.innerAddon {
    position: relative;
}


.searchIcon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  right: 0px;
}
